html, address, blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, ol, p, ul, hr, menu, pre {
    display: block;
}

li {
    display: list-item;
}

head {
    display: none;
}

body {
    margin: 8px;
}
